<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h1>Simple Todo App</h1>

        <form action="/todo" method="post">
            
            <input type="text" name="work" id="adding" placeholder="What needs to be done?..">

            <button type="submit">add</button>


        </form>

        <ul>
            <% database.forEach(data => { %>
                    
                <li>
                    <%= data %>
                </li>

                <form action="/todo/delete" method="post" class="space">
                    <button type="submit">delete</button>
                </form>

            <% }) %> 
                
        </ul>
    </div>


</body>
</html>