* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color: rgb(99, 99, 99);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


